@mojitok:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=svQTjZyRLJ-xB_ey-Cjz
//gitlab.com/api/v4/projects/21166857/packages/npm/:_authToken=svQTjZyRLJ-xB_ey-Cjz

